* {
    box-sizing: border-box;
    margin: 0;
}
/* i ommitted the declaration for 'padding: 0' because it wasnt making any necessary changes*/

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* removed margin declaration to git rid of overflow */
header div {
    padding-top: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul li {
    display: inline-block;
}

header div ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.hero img {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

/* consolidated a + p while removing some declarations that are already inherit */
p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 30px;
}

.float-right {
    float: right;
    margin-left: 30px;
}

.content {
    max-width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* consolidated all the multiple class names listed seperately to save room and cut down on redundancy of declarations */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    /* took away height: 300px; because it caused text to overflow out of the div when the window shrank*/
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    float: left;
}
/* consolidated all the content images into one declaration, cutting down on the redundancy of multiple class names with the same declarations */
.content img {
    max-height: 200px;
    max-width: 300px;
}

/* consolidated benefits into one class, they were previously seperated */
.benefits {
    margin-left: 20px;
    padding: 30px;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
}

.benefits h3 {
    margin-bottom: 20px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* omittied the 'clear: none' declaration because it is default */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

