* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-decoration: none;
    
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* removed margin declaration to git rid of overflow */
header nav {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.hero img {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    /* margin-bottom: 20px; */
}

/* consolidated a + p while removing some declarations that are already inherit */
.content a, p {
    font-size: 16px;
}


.content {
    display: inline-block;
    /* consolidated margin declaration to one line */
    margin-left: 20px;
    width: 70%;
}

/* i did the same thing with consolidating here as i did with the content below, all the multiple class names listed seperately isnt necessary and this saves room! */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 289px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    float: left;
}
/* here i consolidated all the content images into one declaration, cutting down on the redundancy of multiple class names with the same declarations*/
.content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* i consolidated benefits into one class, they were previously seperated */
.benefits {
    margin-right: 20px;
    padding: 20px;
    height: 100%;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    float: right;
    /* vertical-align: auto; */
}

.benefits h3 {
    margin-bottom: 30px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* omittied the 'clear' declaration because it didnt seem to be necessary */
footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

